body
{

	background-color:#26EFB4;
	background: linear-gradient(#26EFB4, #07466F);
	text-align: center;
	margin :0 auto;
	letter-spacing: 1px;
	font-weight:bold;
	font-family: Century Gothic, sans-serif;
}

#admin_form
{
	text-align: center;
  font-size: 20px;
}

input[type=text]
{

	width:300px;
	height:40px;
	border-radius:4px;
	padding-left:20px;
	border:transparent;
	letter-spacing: 1px;
	font-family: Century Gothic, sans-serif;
  font-size: 20px;
}

input[type=submit]
{
	width:180px;
	height:40px;
	border:transparent;
	border-radius: 20px;
	letter-spacing: 1px;
 	text-transform: uppercase;
 	font-family: Century Gothic, sans-serif;
	font-weight: 800;
  font-size: 20px;
}
